extends layout 
 
block content 
  if (!user) 
    a(href="/login") Login 
    br 
    a(href="/register") Register 
    br 
    a(href="/utilities/update") Update 
  if (user) 
    p You are currently logged in as #{user.username} 
    a(href="/utilities") Take me to Utilities 
    br 
    a(href="/logout") Logout 