extends layout 
 
block content 
  h1= title 
 
  form(id='UtilityForm', action="/resource/utility", method="POST") 
    div.form-group 
        label.costumeAttr(for='Name') Name 
        input#Name(type='text', name='Name') 
    div.form-group 
        label.costumeAttr(for='Uses') Uses 
        input#Uses(type='text', name='Uses') 
    div.form-group 
        label.costumeAttr(for='Cost') Cost 
        input#Cost(type='number', name='Cost',min="10.99",max="54.78") 
    input(type="submit") 
 
  script. 
    document.forms['UtilityForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 